<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar superheroe</title>
</head>
<body>
    <%- include('partials/header.ejs') -%>

    <% if (superheroe && superheroe.edad) { %>
        <form action="/api/heroes/id/<%= superheroe.id %>?_method=DELETE" method="POST">
            <p>¿Desea eliminar a <%= superheroe.nombreReal %>?</p>    
            <button type="submit">Si, Eliminar</button>
        </form>
    <% } else { %>
         <p style="color: red;">No se encontró información del superhéroe.</p>
    <% } %>

    
    <%- include('partials/footer.ejs') -%>
</body>
</html>